# CMake
CMakeFiles/*
cmake_install.cmake
CMakeCache.txt
CPackSourceConfig.cmake

# CMake - Makefile generator
Makefile

# Build results
build
LC_MESSAGES
*.mo
*.qm
*.qmlc
resources/i18n/en_US
resources/i18n/x-test
resources/i18n/en_7S
.mypy_cache

# JUnit
junit.xml

# Different files
*.pyc
*kdev*
__pycache__
docs/html
*.lprof
*.log
*~
Uranium.e4p
_eric6project/Uranium.e4q
_eric6project/Uranium.e4t
.cache
*.kate-swp

## Eclipse+PyDev incl. Mylyn
.project
.settings/org.eclipse.mylyn.tasks.ui.prefs
.pydevproject

## IntelliJ projects
.idea

#Test results.
tests/Settings/instances/machine_settings_with_overrides_test.cfg
tests/Settings/profiles/simple_machine_with_overrides_test.cfg
.pytest_cache/

#MacOS
.DS_Store
UM/.DS_Store
resources/.DS_Store

#Common plug-ins
plugins/UraniumExample*Plugin
.vscode/settings.json
Uranium.git/config
Uranium.git/description
Uranium.git/HEAD
Uranium.git/packed-refs
Uranium.git/hooks/applypatch-msg.sample
Uranium.git/hooks/commit-msg.sample
Uranium.git/hooks/fsmonitor-watchman.sample
Uranium.git/hooks/post-update.sample
Uranium.git/hooks/pre-applypatch.sample
Uranium.git/hooks/pre-commit.sample
Uranium.git/hooks/pre-merge-commit.sample
Uranium.git/hooks/pre-push.sample
Uranium.git/hooks/pre-rebase.sample
Uranium.git/hooks/pre-receive.sample
Uranium.git/hooks/prepare-commit-msg.sample
Uranium.git/hooks/push-to-checkout.sample
Uranium.git/hooks/update.sample
Uranium.git/info/exclude
Uranium.git/objects/pack/pack-5695cd91e1d44b8fafc303145afd537747d27972.idx
Uranium.git/objects/pack/pack-5695cd91e1d44b8fafc303145afd537747d27972.pack
